body {
    background-color: #f9fafb;
}

.brand {
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4b4b4f;
}

.green-o {
    color: #27e30a;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-contain {
    position: relative;
}

.image-notify {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #18815c;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #FFF;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

/*masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 110%;
    background: #445261;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    transform: rotate(30deg);
    z-index: 100;
}

*/
.masthead-image::after {
position: absolute;
top: 0%;
right: 0;
width: 90%;
height: 100%;
background: inherit;
border-radius: 0 50% 50% 0;
} 

/*
.masthead-image:after {
    width: 130%;
    height: 100px;
    background-color: #445261;
    border-radius: 50% 50% 0 0;
    margin-top: -50px;
}

*/


.post-link {
    text-decoration: none;
    color: #445261;
}


.profile-image {
    width: 100%;
    height: auto;       /*  aspect ratio */
    max-width: 100%;    /* Prevent overflow */
    object-fit: cover;  /* Ensures image fits */
    display: block;
    margin: 0 auto;     /* Center the image */
    position: absolute;
}


.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-sign,
.btn-edit {
    background-color: #188167;
    color: #fff;
}

.btn-sign:hover,
.btn-sign:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(232, 36, 22);
}
