{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <!-- For loop for post in post_list-->
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-contain">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                  alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                  alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-notify">
                                    <!-- Border around author -->
                                    <p class="author border p-2">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <!-- Border around title -->
                                <h2 class="card-title border p-2">{{ post.title }}</h2>
                                <p class="card-text"> {{ post.excerpt }}</p>
                            </a>
                            <!-- Border around sanctuary -->
                            <p class="sanctuary border p-2">Sanctuary: {{ post.sanctuary.sanct_name }}</p>
                            <!-- Border around date -->
                            <p class="card-text text-muted h6 border p-2">{{ post.created_on }}</p>
                        </div>
                    </div>
                </div>
                <!-- for loop counter counting the comments-->
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                  class="page-link">PREV</a>
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- content ends here -->
{% endblock %}
