{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                <p class="post-subtitle">{{ post.sanctuary.sanct_name }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/houndshotels.webp' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <h2>{{ post.dog_name }}</h2>
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Dog Details and Sanctuary Details in aligned columns -->
<div class="container">
    <div class="row">
        <!-- Dog Details Table -->
        <div class="col-md-6 card mb-4 mt-3 left top">
            <div class="card-body">
                <h4 class="card-title">Dog Details</h4>
                <table class="table table-light table-striped">
                    <tbody>
                        <tr>
                            <td><strong>Dog Type</strong></td>
                            <td>{{ post.dog_type }}</td>
                        </tr>
                        <tr>
                            <td><strong>Dog Age</strong></td>
                            <td>{{ post.dog_age }}</td>
                        </tr>
                        <tr>
                            <td><strong>Length of Stay</strong></td>
                            <td>{{ post.dog_stay }} Months</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Sanctuary details Table -->
        <div class="col-md-6 card mb-4 mt-3 left top">
            <div class="card-body">
                <h4 class="card-title">Sanctuary Details</h4>
                <table class="table table-light table-striped">
                    <tbody>
                        <tr>
                            <td><strong>Sanctuary Name</strong></td>
                            <td>{{ post.sanctuary.sanct_name }}</td>
                        </tr>
                        <tr>
                            <td><strong>Address</strong></td>
                            <td>{{ post.sanctuary.sanct_address }}</td>
                        </tr>
                        <tr>
                            <td><strong>Postcode</strong></td>
                            <td>{{ post.sanctuary.sanct_postcode }}</td>
                        </tr>
                        <tr>
                            <td><strong>Telephone</strong></td>
                            <td>{{ post.sanctuary.sanct_telephone }}</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>{{ post.sanctuary.sanct_email }}</td>
                        </tr>
                        <tr>
                            <td><strong>Website</strong></td>
                            <td><a href="{{ post.sanctuary.sanct_website }}" target="_blank">{{ post.sanctuary.sanct_website }}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
