{% extends 'base.html' %}

{% block content %}
<center>
    {% if searched %}
    <h1>You searched for "{{ searched }}"</h1>
    <br />
    {% if sanctuaries %}
    {% for sanctuary in sanctuaries %}
    <div class="col-md-6 card mb-4 mt-3 left top">
        <div class="card-body">
            <table class="table table-light table-striped">
                <tbody>
                    <tr>
                        <td><strong>Sanctuary Name</strong></td>
                        <td>{{ sanctuary.sanct_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Address</strong></td>
                        <td>{{ sanctuary.sanct_address }}</td>
                    </tr>
                    <tr>
                        <td><strong>Postcode</strong></td>
                        <td>{{ sanctuary.sanct_postcode }}</td>
                    </tr>
                    <tr>
                        <td><strong>Telephone</strong></td>
                        <td>{{ sanctuary.sanct_telephone }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{{ sanctuary.sanct_email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Website</strong></td>
                        <td><a href="{{ sanctuary.sanct_website }}" target="_blank">{{ sanctuary.sanct_website }}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- List of Dogs at this Sanctuary -->
            <h4 class="mt-3">Dogs at {{ sanctuary.sanct_name }}:</h4>
            {% if sanctuary.dogs.all %}
            <ul>
                {% for dog in sanctuary.dogs.all %}
                <table class="table table-light table-striped">
                    <tbody>
                        <tr>
                            <td>
                                <img src="{{ dog.featured_image.url }}" alt="{{ dog.dog_name }}"
                                    style="width: 100px; height: auto;" />
                            </td>
                            <td>
                                <a href="{% url 'post_detail' slug=dog.slug %}">{{ dog.dog_name }}</a>
                            </td>
                            <td>{{ dog.dog_type }}</td>
                            <td>{{ dog.dog_age }} years</td>
                            <td>{{ dog.dog_stay }} months</td>
                        </tr>
                    </tbody>
                </table>
                {% endfor %}
            </ul>
            {% else %}
            <p>No dogs currently available at this sanctuary.</p>
            {% endif %}
        </div> <!-- Close card-body -->
    </div> <!-- Close col-md-6 card -->
    <br />
    {% endfor %}
    {% else %}
    <p>No sanctuaries found matching "{{ searched }}".</p>
    {% endif %}
    {% else %}
    <h1>Enter your search</h1>
    {% endif %}
</center>
{% endblock %}