{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <!-- About Section with cloudinary image -->
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
                <img src="{% static 'images/nobody.jpg' %}" alt="placeholder image" class="profile_image">
            {% else %}
                <img src="{{ about.profile_image.url }}" alt="{{ about.title }}" width="85%" class="profile_image">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>

    <!-- Last Updated on -->
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>

    <!-- Collaborate Form crispy_forms -->
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2>Let's get these dogs homes!</h2>
            <p>I believe in the power of collective effort. Whether you have a dog sanctuary, or wish to adopt
                your dog, I would be excited to hear from you. Fill out the form and we can get the ball rolling!</p>

            <form method="post" action="">
                {% csrf_token %}
                {{ collaborate_form | crispy }}
                <input type="hidden" name="collaborate_submit" value="1">
                <button class="btn btn-secondary" type="submit">Submit Request</button>
            </form>
        </div>
    </div>

    <!-- Leave Comment Form crispy forms -->
    <div class="row justify-content-center mt-4">
        <div class="col text-center">
            <h4>Leave a Comment</h4>
            <form id="leavecommentForm" method="post" action="">
                {% csrf_token %}
                {{ leavecomment_form | crispy }}
                <input type="hidden" name="leavecomment_submit" value="1">
                <button class="btn btn-secondary" type="submit">Submit Comment</button>
            </form>
        </div>
    </div>

    <!-- Comments -->
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2 card mb-4">
            <h3>Comments:</h3>
            <div class="card-body">
                {% if leavecomments %}
                    {% for leavecomment in leavecomments %}
                        <div class="p-2 leavecomments">
                            <p class="font-weight-bold">
                                {{ leavecomment.name }}
                                <span class="font-weight-normal">
                                    {{ leavecomment.created_on|date:"M d, Y H:i" }}
                                </span> wrote:
                            </p>
                            <div id="leavecomment{{ leavecomment.id }}">
                                {{ leavecomment.comment|linebreaks }}
                            </div>
                            {% if not leavecomment.approved %}
                                <p class="approval">This comment is awaiting approval</p>
                            {% endif %}
                            {% if user.is_authenticated and leavecomment.email == user.email %}
                                <button class="btn btn-delete" leavecomment_id="{{ leavecomment.id }}">Delete</button>
                                <button class="btn btn-edit" leavecomment_id="{{ leavecomment.id }}">Edit</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No comments yet. Be the first to comment!</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extras %}
<script src="{% static 'js/leavecomments.js' %}"></script>
{% endblock %}

